*{font-family:'Poppins';}

body{
    background-color: #EEC0B9;
    margin: 0;
    }

h2{
    color: white;
    margin-left: 1vw;
    }

h3{
    color: black;
    margin-left: 1vw;
    font-size: 18px;
    }

p{
    background-color: white;
    border-radius: 1.5vw;
    margin: 1vw;
    text-align: center;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    }

footer{background-color: #AC6B6B;}

ul{padding-bottom: 2%;}

.pic{
    border: 3px solid white;
    margin-left: 1.4vw;
    }

/* Iconos */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    color: #EEC0B9;
    position: relative;
    left: 58%;
    bottom: 0.6vw;
    margin-left: 0.5%;
    }
    
#wpp{
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    }

#insta{
    position: fixed;
    bottom: 1.2vw;
    right: 6vw;
    }

#buscador{
    position: relative;
    left: 30%;
    bottom: 1vw;
    font-size: 15px;
    }

#lupa{
    position: relative;
    left: 29.5%;
    bottom: 0.37vw;
    }

#navbar{
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding-left: 3%;
    padding-bottom: 0.5%;
    }