*{font-family:'Poppins';}

body{background-color: #EEC0B9;}

.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.container-fluid{
    background-color: white; /* no se como poner el borde blanco */
}

h1{
    font-size: 30px;
    margin-left: 2vw;
    margin-top: 1vw;
    color: gray;
}

.btn-outline-success{
  color: #EEC0B9; 
  border-color: #EEC0B9; 
}

/*Iconos*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48;
    color: #EEC0B9;
    margin-left: 1vw;
}

h2{
    color: white;
    font-size: 25px;
    margin-left: 1vw;
    margin-top: 2vw;
}

.center{
    text-align: center;
}

.card{
    margin-left: 1vw;
    margin-right: 1vw;
}

.margin{
    margin-top: 100px;
}

.btn-primary{
    background-color: #AC6B6B;
    border-color: #AC6B6B;
}

p{
    background-color: white;
    border-radius: 1.5vw;
    margin: 1vw;
    text-align: center;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

footer{
    background-color: #AC6B6B;
    margin-top: 2vw;
}

h3{
    color: black;
    margin-left: 1vw;
    font-size: 18px;
}

ul{padding-bottom: 2%;}

.redes{
    position: fixed;
    bottom: 25px;
    width: 50px; 
}

.wpp{right: 70px}

.insta{right: 10px}