* {font-family:'Poppins';}

body {background-color: #EEC0B9;}

.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 5px;
}

.container-fluid {background-color: white;}

h1{
    font-size: 30px;
    margin-left: 2vw;
    margin-top: 1vw;
    color: gray;
}

hr {color:#AC6B6B}

/* Boton de search */
.btn-outline-success{
  color: #EEC0B9; 
  border-color: #EEC0B9; 
  --bs-btn-hover-bg:#EEC0B9;
  --bs-btn-hover-border-color:#EEC0B9;
  --bs-btn-active-bg: #EEC0B9;
  --bs-btn-active-border-color: white;
}

/*Icono*/
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48;
    color: #EEC0B9;
    margin-left: 1vw;
}

h2{
    color: white;
    font-size: 25px;
    margin-left: 1vw;
    margin-top: 2vw;
}

.center{
    text-align: center;
}

.card{
    margin-left: 1vw;
    margin-right: 1vw;
}

.margin-sm{
  margin-top: 120px;  
}

.margin{
    margin-top: 100px;
}

/* Boton de comprar */
.btn-primary{
    background-color: #AC6B6B;
    border-color: #AC6B6B;
    --bs-btn-hover-bg:#EEC0B9;
    --bs-btn-hover-border-color:#EEC0B9;
    --bs-btn-active-bg: #EEC0B9;
    --bs-btn-active-border-color: white;
}

p{
    background-color: white;
    border-radius: 1.5vw;
    margin: 1vw;
    text-align: center;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
}

footer{
    background-color: #AC6B6B;
    margin-top: 2vw;
}

h3{
    color: black;
    margin-left: 1vw;
    font-size: 18px;
}

.redes{
    position: fixed;
    bottom: 25px;
    width: 50px; 
}

.wpp{right: 70px}

.insta{right: 10px}

/* Para que no aparezca cortado en chrome */
.form-control::placeholder{
    overflow: visible !important;
}

.navbar-toggler{
    width: 40px;
    height: 40px;
    padding-left: 6.5px;
}

.navbar-toggler-icon{
    width: 25px;
    height: 30px;
}

ul{
    padding-bottom: 1%;
}

a{text-decoration: none;}