*{font-family:'Poppins';
    word-wrap: normal;}
    
    body{background-color: #EEC0B9;}
    
    /* Para que "La Cocina de Calu" no aparezca subrayado */
    a{text-decoration: none;}
    
    .navbar{
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        padding: 5px;
        --bs-navbar-toggler-focus-width: 0.8px;
        --bs-navbar-color: black;
        --bs-navbar-hover-color: black;
    }
    
    .container-fluid{background-color: white;}
    
    #img-icono{
        width: 60px;
    }
    
    h1{
        font-size: 30px;
        margin-left: 2vw;
        margin-top: 1vw;
        color: gray;
    }
    
    /* Boton hamburguesa */
    .navbar-toggler{
        width: 40px;
        height: 40px;
        padding-left: 6.5px;
        color: gray;
    }
    
    /* Contenido de boton hamburguesa */
    .navbar-toggler-icon{
        width: 25px;
        height: 30px;
    }
    
    #img-logo{
        width: 130px;
    }
    
    /* Carrito */
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 800,
        'GRAD' 0,
        'opsz' 48;
        color: #EEC0B9;
        margin-left: 1vw;
    }
    
    hr {color:#AC6B6B}
    
    /* Para que el placeholder de buscar no aparezca cortado en chrome */
    .form-control::placeholder{
        overflow: visible !important;
    }
    
    /* Boton de Search */
    .btn-outline-success{
      color: #EEC0B9; 
      border-color: #EEC0B9; 
      --bs-btn-hover-bg:#EEC0B9;
      --bs-btn-hover-border-color:#EEC0B9;
      --bs-btn-active-bg: #EEC0B9;
      --bs-btn-active-border-color: white;
    }
    
    h2{
        color: white;
        font-size: 25px;
        margin-left: 1vw;
        margin-top: 2vw;
    }
    
    /* Margen para que el navbar no tape la pagina */
    .margin{
        margin-top: 100px;
    }
    
    .center{
        text-align: center;
    }
    
    .card{
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    /* Boton de Comprar */
    .btn-primary{
        background-color: #AC6B6B;
        border-color: #AC6B6B;
        --bs-btn-hover-bg:#EEC0B9;
        --bs-btn-hover-border-color:#EEC0B9;
        --bs-btn-active-bg: #EEC0B9;
        --bs-btn-active-border-color: white;
    }
    
    p{
        background-color: white;
        border-radius: 1.5vw;
        margin: 1vw;
        text-align: center;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
    }
    
    footer{
        background-color: #AC6B6B;
        margin-top: 2vw;
    }
    
    .redes{
        position: fixed;
        bottom: 25px;
        width: 50px; 
    }
    
    .wpp{right: 70px}
    
    .insta{right: 10px}
    
    h3{
        color: black;
        margin-left: 1vw;
        font-size: 18px;
    }
    
    ul{
        padding-bottom: 1%;
    }
    
    /* Para cambiar el focus del placeholder de buscar */
    input[type="search"]:focus
    {   
      border-color: gray;
      box-shadow: none;
    
    }
    
    /* Para sacar el outline de "Productos" */
    .dropdown-toggle:focus{
        outline: none;
     }
    
    /* Para cambiar el hover del dropdown de "Productos" */
    .dropdown-menu{
        --bs-dropdown-link-active-color: black;
        --bs-dropdown-link-active-bg: #c7c8cab4;
    }

    .sections{
        margin: 10px 0 10px 0;
        overflow-x: scroll;
        overflow-y: hidden;
        overflow: auto;
        white-space: nowrap;
        background: transparent;
        height: 100%;
    }
    
    .sections1{
        display:inline-block;
    }
    
    .vanner1{
        width: 40vh;
        height: auto;
    }