*{font-family:'Poppins';
    word-wrap: normal;}
    
body{background-color: #EEC0B9;}


/* Para que "La Cocina de Calu" no aparezca subrayado */
a{text-decoration: none;}

.navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 5px;
    --bs-navbar-toggler-focus-width: 0.8px;
    --bs-navbar-color: black;
    --bs-navbar-hover-color: black;
}

.container-fluid{background-color: white;}

#img-icono{
    width: 60px;
}

h1{
    font-size: 30px;
    margin-left: 2vw;
    margin-top: 1vw;
    color: gray;
}

/* Boton hamburguesa */
.navbar-toggler{
    width: 40px;
    height: 40px;
    padding-left: 6.5px;
    color: gray;
}

/* Contenido de boton hamburguesa */
.navbar-toggler-icon{
    width: 25px;
    height: 30px;
}

#img-logo{
    width: 130px;
}

h2{
    color: white;
    font-size: 25px;
    margin-left: 1vw;
    margin-top: 2vw;
}

/* Para sacar el outline de "Productos" */
.dropdown-toggle:focus{
    outline: none;
    }

/* Para cambiar el hover del dropdown de "Productos" */
.dropdown-menu{
    --bs-dropdown-link-active-color: black;
    --bs-dropdown-link-active-bg: #c7c8cab4;
}

.carrito{
    width: 50px;
}

/* Botones de borrar item del carrito */
.btn-dark{
    color: #EEC0B9;
    background-color: white;
    border-color: white;
    --bs-btn-hover-border-color:#AC6B6B;
    --bs-btn-hover-bg:#AC6B6B;
    --bs-btn-active-bg: #EEC0B9;
    --bs-btn-active-border-color: #EEC0B9;
}

hr {color:#AC6B6B}

#hr-carrito{
    color: white;
}

#boton-vaciar{
    background-color: white;
}

#boton-finalizar{
    background-color: #AC6B6B;
    color: white;
    
}

.margin{
    margin-top: 50px;
}

.center{
    text-align: center;
}